# Node modules
node_modules/
scripts/
certs/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS system files
.DS_Store
Thumbs.db

# Husky hooks (ignore generated Git hooks, but not the Husky config itself)
.husky/_

# Package lock files
yarn.lock

# Environmental variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python virtual environment (if applicable)
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.dylib
*.pyd

# Coverage reports
coverage/
.nyc_output/
coverage-final.json
coverage.xml